*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #FAF0DC;
    color: #FB8E25;
    /*padding: 14px;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
}

nav, section {
    display: flex;
    align-items: center;
    gap:  14px;
}

header section img{
    max-width: 48px;
    border-radius: 50%;
    border: 2px solid #FB8E25;
}

.whiteLink {
    color: black;
}

.greyLink {
    color: brown;
}

a {
    text-decoration: unset;
    font-size: 0.8em;
}
a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0 14px;
}

h1 {
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

.searchBar {
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    gap: 14px;
    border: 1px solid grey;
    padding: 14px;
    border-radius: 24px;
}

.searchBar:hover {
    border-color: transparent;
    background: #E5CFB3;
}

.iconButtonContainer {
    display: flex;
    align-items: center;
    gap: 14px;
}

.iconButton {
    background: transparent;
    border: none;
    color: #FB8E25;
    font-size: 1.2em;
    cursor: pointer;
}

input {
    background: transparent;
    outline: none;
    border: unset;
    color: #FB8E25;
    flex: 1;
}

.searchButtonsContainer {
    display: flex;
    align-items: center;
    gap: 14px;
}

.searchButtonsContainer button {
    padding: 10px 14px;
    border-radius: 4px;
    background: #E5CFB3;
    border: 1px solid transparent;
    color: #FB8E25;
    cursor: pointer;
}

.searchButtonsContainer button:hover {
    border: 1px solid darkgrey;
}

.languageSelection {
    font-size: 0.9em;
}

.languageSelection span {
    color: black;
}

footer {
    display: flex;
    flex-direction: column;
}

footer > section {
    padding: 14px;
}

footer > section:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid grey;
    justify-content: space-around;
}

.footerLink {
    display: flex;
    align-items: center;
    gap: 14px;
}

.footerLink a {
    cursor: pointer;
}

@media (min-width: 540px) {
    footer > section:last-child {
        flex-direction: row;

    }
}